$bkg-one: #803c3b;
$bkg-two: #ff7875;
$light-text: #ffc3c2;

/* Color Theme Swatches in Hex */
$With-hanoi-pic-1-hex: #806161;
$With-hanoi-pic-2-hex: #ff7875;
$With-hanoi-pic-3-hex: #ffc3c2;
$With-hanoi-pic-4-hex: #803c3b;
$With-hanoi-pic-5-hex: #cc9c9b;

/* Color Theme Swatches in RGBA */
$With-hanoi-pic-1-rgba: rgba(128, 97, 97, 1);
$With-hanoi-pic-2-rgba: rgba(255, 120, 117, 1);
$With-hanoi-pic-3-rgba: rgba(255, 195, 194, 1);
$With-hanoi-pic-4-rgba: rgba(128, 60, 59, 1);
$With-hanoi-pic-5-rgba: rgba(204, 156, 155, 1);

/* Color Theme Swatches in HSLA */
$With-hanoi-pic-1-hsla: hsla(0, 13, 44, 1);
$With-hanoi-pic-2-hsla: hsla(1, 100, 72, 1);
$With-hanoi-pic-3-hsla: hsla(0, 100, 88, 1);
$With-hanoi-pic-4-hsla: hsla(0, 36, 36, 1);
$With-hanoi-pic-5-hsla: hsla(1, 32, 70, 1);
